<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>tmux</key>
			<dict>
				<key>date</key>
				<date>2021-05-25T06:22:52Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>tmux</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>tmux</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>CanIUse</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:04:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Can I use</string>
						<string>CanIUse</string>
						<string>caniuse.com</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/CanIUse#readme</string>
					<key>authorLinkText</key>
					<string>Paweł Golonko</string>
					<key>name</key>
					<string>Can I use…</string>
					<key>platform</key>
					<string>usercontribCanIUse</string>
					<key>uniqueIdentifier</key>
					<string>CanIUse</string>
				</dict>
			</dict>
			<key>Consul</key>
			<dict>
				<key>date</key>
				<date>2021-08-18T02:03:11Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Consul#readme</string>
					<key>authorLinkText</key>
					<string>bartoszj</string>
					<key>name</key>
					<string>Consul</string>
					<key>platform</key>
					<string>usercontribConsul</string>
					<key>uniqueIdentifier</key>
					<string>Consul</string>
				</dict>
			</dict>
			<key>Envoy</key>
			<dict>
				<key>date</key>
				<date>2021-05-25T06:23:36Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Envoy#readme</string>
					<key>authorLinkText</key>
					<string>Ruoshan Huang</string>
					<key>name</key>
					<string>Envoy</string>
					<key>platform</key>
					<string>usercontribEnvoy</string>
					<key>uniqueIdentifier</key>
					<string>Envoy</string>
				</dict>
			</dict>
			<key>Ghidra</key>
			<dict>
				<key>date</key>
				<date>2021-06-28T23:34:11Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Ghidra#readme</string>
					<key>authorLinkText</key>
					<string>Ryan Govostes</string>
					<key>name</key>
					<string>Ghidra</string>
					<key>platform</key>
					<string>usercontribGhidra</string>
					<key>uniqueIdentifier</key>
					<string>Ghidra</string>
				</dict>
			</dict>
			<key>HTTP</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:07:51Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/HTTP#readme</string>
					<key>authorLinkText</key>
					<string>Ice White</string>
					<key>name</key>
					<string>HTTP</string>
					<key>platform</key>
					<string>usercontribHTTP</string>
					<key>uniqueIdentifier</key>
					<string>HTTP</string>
				</dict>
			</dict>
			<key>Jest</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:04:25Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Jest</string>
						<string>React</string>
						<string>Webpack</string>
						<string>jQuery</string>
						<string>CoffeeScript</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>Unit Test</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Jest#readme</string>
					<key>authorLinkText</key>
					<string>Xianming Zhong</string>
					<key>name</key>
					<string>Jest</string>
					<key>platform</key>
					<string>usercontribJest</string>
					<key>uniqueIdentifier</key>
					<string>Jest</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2021-08-18T02:03:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>kubernetes</string>
						<string>kubectl</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kubernetes#readme</string>
					<key>authorLinkText</key>
					<string>John Patterson</string>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>usercontribKubernetes</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>Neo4j</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:06:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Neo4j</string>
						<string>Neo4j graph database</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Neo4j#readme</string>
					<key>authorLinkText</key>
					<string>Guglielmo Celata</string>
					<key>name</key>
					<string>Neo4j</string>
					<key>platform</key>
					<string>usercontribNeo4j</string>
					<key>uniqueIdentifier</key>
					<string>Neo4j</string>
				</dict>
			</dict>
			<key>Neovim</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:06:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Nvim</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Neovim#readme</string>
					<key>authorLinkText</key>
					<string>ianding1</string>
					<key>name</key>
					<string>Neovim</string>
					<key>platform</key>
					<string>usercontribNeovim</string>
					<key>uniqueIdentifier</key>
					<string>Neovim</string>
				</dict>
			</dict>
			<key>Nomad</key>
			<dict>
				<key>date</key>
				<date>2021-07-20T23:55:03Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Nomad#readme</string>
					<key>authorLinkText</key>
					<string>Blake Covarrubias</string>
					<key>name</key>
					<string>Nomad</string>
					<key>platform</key>
					<string>usercontribNomad</string>
					<key>uniqueIdentifier</key>
					<string>Nomad</string>
				</dict>
			</dict>
			<key>Packer</key>
			<dict>
				<key>date</key>
				<date>2021-05-25T06:22:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Packer#readme</string>
					<key>authorLinkText</key>
					<string>Darren Oakley</string>
					<key>name</key>
					<string>Packer</string>
					<key>platform</key>
					<string>usercontribPacker</string>
					<key>uniqueIdentifier</key>
					<string>Packer</string>
				</dict>
			</dict>
			<key>RFCs</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:23:27Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>rfc</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/RFCs#readme</string>
					<key>authorLinkText</key>
					<string>Simone Carletti</string>
					<key>name</key>
					<string>RFCs</string>
					<key>platform</key>
					<string>usercontribRFCs</string>
					<key>uniqueIdentifier</key>
					<string>RFCs</string>
				</dict>
			</dict>
			<key>Redux</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:04:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Redux</string>
						<string>React</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Redux#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Redux</string>
					<key>platform</key>
					<string>usercontribRedux</string>
					<key>uniqueIdentifier</key>
					<string>Redux</string>
				</dict>
			</dict>
			<key>Terraform</key>
			<dict>
				<key>date</key>
				<date>2021-08-18T02:03:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Terraform#readme</string>
					<key>authorLinkText</key>
					<string>rolandjohann</string>
					<key>name</key>
					<string>Terraform</string>
					<key>platform</key>
					<string>usercontribTerraform</string>
					<key>uniqueIdentifier</key>
					<string>Terraform</string>
				</dict>
			</dict>
			<key>UnicodeCharacters</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:05:41Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/UnicodeCharacters#readme</string>
					<key>authorLinkText</key>
					<string>Remko Tronçon</string>
					<key>name</key>
					<string>Unicode Characters</string>
					<key>platform</key>
					<string>usercontribUnicodeCharacters</string>
					<key>uniqueIdentifier</key>
					<string>UnicodeCharacters</string>
				</dict>
			</dict>
			<key>Vault</key>
			<dict>
				<key>date</key>
				<date>2021-08-18T02:03:10Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Vault#readme</string>
					<key>authorLinkText</key>
					<string>bartoszj</string>
					<key>name</key>
					<string>Vault</string>
					<key>platform</key>
					<string>usercontribVault</string>
					<key>uniqueIdentifier</key>
					<string>Vault</string>
				</dict>
			</dict>
			<key>Zsh</key>
			<dict>
				<key>date</key>
				<date>2021-05-25T06:22:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Zsh#readme</string>
					<key>authorLinkText</key>
					<string>Marcus Adair</string>
					<key>name</key>
					<string>Zsh</string>
					<key>platform</key>
					<string>usercontribZsh</string>
					<key>uniqueIdentifier</key>
					<string>Zsh</string>
				</dict>
			</dict>
			<key>date-fns</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:07:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/date-fns#readme</string>
					<key>authorLinkText</key>
					<string>Ian Sinnott</string>
					<key>name</key>
					<string>date-fns</string>
					<key>platform</key>
					<string>usercontribdate-fns</string>
					<key>uniqueIdentifier</key>
					<string>date-fns</string>
				</dict>
			</dict>
			<key>diesel</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:06:18Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>diesel</string>
						<string>rust orm</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/diesel#readme</string>
					<key>authorLinkText</key>
					<string>Zamith</string>
					<key>name</key>
					<string>Diesel</string>
					<key>platform</key>
					<string>usercontribdiesel</string>
					<key>uniqueIdentifier</key>
					<string>diesel</string>
				</dict>
			</dict>
			<key>next.js</key>
			<dict>
				<key>date</key>
				<date>2021-08-29T09:37:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>React Framework</string>
						<string>JavaScript</string>
						<string>TypeScript</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/next.js#readme</string>
					<key>authorLinkText</key>
					<string>純</string>
					<key>name</key>
					<string>Next.js</string>
					<key>platform</key>
					<string>usercontribnext.js</string>
					<key>uniqueIdentifier</key>
					<string>next.js</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>Agora_Web</key>
			<dict>
				<key>date</key>
				<date>2020-06-06T06:06:07Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Agora_Web#readme</string>
					<key>authorLinkText</key>
					<string>Agora</string>
					<key>name</key>
					<string>Agora Web</string>
					<key>platform</key>
					<string>usercontribAgora_Web</string>
					<key>uniqueIdentifier</key>
					<string>Agora_Web</string>
				</dict>
			</dict>
			<key>BigQuery_Standard_SQL</key>
			<dict>
				<key>date</key>
				<date>2019-12-06T02:13:58Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/BigQuery_Standard_SQL#readme</string>
					<key>authorLinkText</key>
					<string>Akinori MUSHA</string>
					<key>name</key>
					<string>BigQuery Standard SQL</string>
					<key>platform</key>
					<string>usercontribBigQuery_Standard_SQL</string>
					<key>uniqueIdentifier</key>
					<string>BigQuery_Standard_SQL</string>
				</dict>
			</dict>
			<key>CUDA</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T13:57:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>CUDA</string>
						<string>Nvidia</string>
						<string>cuBLAS</string>
						<string>NVBLAS</string>
						<string>cuFFT</string>
						<string>nvGRAPH</string>
						<string>cuRAND</string>
						<string>cuSPARSE</string>
						<string>NPP</string>
						<string>cuSOLVER</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/CUDA#readme</string>
					<key>authorLinkText</key>
					<string>BlahGeek</string>
					<key>name</key>
					<string>CUDA</string>
					<key>platform</key>
					<string>usercontribCUDA</string>
					<key>uniqueIdentifier</key>
					<string>CUDA</string>
				</dict>
			</dict>
			<key>CanJS</key>
			<dict>
				<key>date</key>
				<date>2020-04-02T12:04:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/CanJS#readme</string>
					<key>authorLinkText</key>
					<string>Bitovi</string>
					<key>name</key>
					<string>CanJS</string>
					<key>platform</key>
					<string>usercontribCanJS</string>
					<key>uniqueIdentifier</key>
					<string>CanJS</string>
				</dict>
			</dict>
			<key>Chainer</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T13:57:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chainer</string>
						<string>Deep Learning</string>
						<string>Neural Network</string>
						<string>Machine Learning</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Chainer#readme</string>
					<key>authorLinkText</key>
					<string>mitmul</string>
					<key>name</key>
					<string>Chainer</string>
					<key>platform</key>
					<string>usercontribChainer</string>
					<key>uniqueIdentifier</key>
					<string>Chainer</string>
				</dict>
			</dict>
			<key>Elm</key>
			<dict>
				<key>date</key>
				<date>2020-04-02T12:05:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Elm#readme</string>
					<key>authorLinkText</key>
					<string>Tomas Latal</string>
					<key>name</key>
					<string>Elm</string>
					<key>platform</key>
					<string>usercontribElm</string>
					<key>uniqueIdentifier</key>
					<string>Elm</string>
				</dict>
			</dict>
			<key>Enzyme</key>
			<dict>
				<key>date</key>
				<date>2020-06-06T06:07:15Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Enzyme#readme</string>
					<key>authorLinkText</key>
					<string>Jason Weir</string>
					<key>name</key>
					<string>Enzyme</string>
					<key>platform</key>
					<string>usercontribEnzyme</string>
					<key>uniqueIdentifier</key>
					<string>Enzyme</string>
				</dict>
			</dict>
			<key>Hammerspoon</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T13:58:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Hammerspoon#readme</string>
					<key>authorLinkText</key>
					<string>Hammerspoon Team</string>
					<key>name</key>
					<string>Hammerspoon</string>
					<key>platform</key>
					<string>usercontribHammerspoon</string>
					<key>uniqueIdentifier</key>
					<string>Hammerspoon</string>
				</dict>
			</dict>
			<key>JSDoc</key>
			<dict>
				<key>date</key>
				<date>2020-06-06T06:09:26Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>jsdoc</string>
						<string>jsdoc3</string>
						<string>documentation</string>
						<string>javascript</string>
						<string>node</string>
						<string>nodejs</string>
						<string>node.js</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/JSDoc#readme</string>
					<key>authorLinkText</key>
					<string>Nicholas Cloud</string>
					<key>name</key>
					<string>JSDoc</string>
					<key>platform</key>
					<string>usercontribJSDoc</string>
					<key>uniqueIdentifier</key>
					<string>JSDoc</string>
				</dict>
			</dict>
			<key>Keras</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T13:58:34Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Keras</string>
						<string>Deep Learning</string>
						<string>Machine Learning</string>
						<string>Theano</string>
						<string>TensorFlow</string>
						<string>Neural Networks</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Keras#readme</string>
					<key>authorLinkText</key>
					<string>Kyung Mo Kweon</string>
					<key>name</key>
					<string>Keras</string>
					<key>platform</key>
					<string>usercontribKeras</string>
					<key>uniqueIdentifier</key>
					<string>Keras</string>
				</dict>
			</dict>
			<key>Kotlin</key>
			<dict>
				<key>date</key>
				<date>2021-07-31T04:40:07Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kotlin#readme</string>
					<key>authorLinkText</key>
					<string>Kevin Cianfarini</string>
					<key>name</key>
					<string>Kotlin</string>
					<key>platform</key>
					<string>usercontribKotlin</string>
					<key>uniqueIdentifier</key>
					<string>Kotlin</string>
				</dict>
			</dict>
			<key>Linux_Man_Pages</key>
			<dict>
				<key>date</key>
				<date>2019-12-06T02:15:07Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Linux</string>
						<string>Posix</string>
						<string>Man pages</string>
						<string>Unix</string>
						<string>BSD</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Linux_Man_Pages#readme</string>
					<key>authorLinkText</key>
					<string>Yan Pashkovsky</string>
					<key>name</key>
					<string>Linux Man Pages</string>
					<key>platform</key>
					<string>usercontribLinux_Man_Pages</string>
					<key>uniqueIdentifier</key>
					<string>Linux_Man_Pages</string>
				</dict>
			</dict>
			<key>LuaNginxModule</key>
			<dict>
				<key>date</key>
				<date>2019-06-08T08:11:02Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/LuaNginxModule#readme</string>
					<key>authorLinkText</key>
					<string>Ruoshan Huang</string>
					<key>name</key>
					<string>Lua Nginx Module</string>
					<key>platform</key>
					<string>usercontribLuaNginxModule</string>
					<key>uniqueIdentifier</key>
					<string>LuaNginxModule</string>
				</dict>
			</dict>
			<key>PyTorch</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T13:59:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>PyTorch</string>
						<string>Deep Learning</string>
						<string>Machine Learning</string>
						<string>Neural Networks</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/PyTorch#readme</string>
					<key>authorLinkText</key>
					<string>Aziz Alto</string>
					<key>name</key>
					<string>PyTorch</string>
					<key>platform</key>
					<string>usercontribPyTorch</string>
					<key>uniqueIdentifier</key>
					<string>PyTorch</string>
				</dict>
			</dict>
			<key>Seaborn</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T13:59:29Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Seaborn Python</string>
						<string>Python visualization library</string>
						<string>matplotlib based</string>
						<string>sns</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Seaborn#readme</string>
					<key>authorLinkText</key>
					<string>Thomas Fan and Peixian Wang</string>
					<key>name</key>
					<string>Seaborn</string>
					<key>platform</key>
					<string>usercontribSeaborn</string>
					<key>uniqueIdentifier</key>
					<string>Seaborn</string>
				</dict>
			</dict>
			<key>Tailwind_CSS</key>
			<dict>
				<key>date</key>
				<date>2021-08-29T09:38:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tailwind</string>
						<string>TailwindCSS</string>
						<string>tailwind CSS</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Tailwind_CSS#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth, Guill Lo</string>
					<key>name</key>
					<string>Tailwind CSS</string>
					<key>platform</key>
					<string>usercontribTailwind_CSS</string>
					<key>uniqueIdentifier</key>
					<string>Tailwind_CSS</string>
				</dict>
			</dict>
			<key>TensorFlow</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T13:59:37Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/TensorFlow#readme</string>
					<key>authorLinkText</key>
					<string>Reuben Morais</string>
					<key>name</key>
					<string>TensorFlow</string>
					<key>platform</key>
					<string>usercontribTensorFlow</string>
					<key>uniqueIdentifier</key>
					<string>TensorFlow</string>
				</dict>
			</dict>
			<key>Yarn</key>
			<dict>
				<key>date</key>
				<date>2019-06-08T08:12:27Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Yarn#readme</string>
					<key>authorLinkText</key>
					<string>Phill Ayers</string>
					<key>name</key>
					<string>Yarn</string>
					<key>platform</key>
					<string>usercontribYarn</string>
					<key>uniqueIdentifier</key>
					<string>Yarn</string>
				</dict>
			</dict>
			<key>graphql</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T13:58:13Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/graphql#readme</string>
					<key>authorLinkText</key>
					<string>Leonid Shevtsov</string>
					<key>name</key>
					<string>GraphQL Specification</string>
					<key>platform</key>
					<string>usercontribgraphql</string>
					<key>uniqueIdentifier</key>
					<string>graphql</string>
				</dict>
			</dict>
			<key>koa</key>
			<dict>
				<key>date</key>
				<date>2019-12-06T02:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>koa2</string>
						<string>Koa</string>
						<string>Koa2</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/koa#readme</string>
					<key>authorLinkText</key>
					<string>Soros Liu</string>
					<key>name</key>
					<string>koa</string>
					<key>platform</key>
					<string>usercontribkoa</string>
					<key>uniqueIdentifier</key>
					<string>koa</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2020-06-06T06:10:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Node Package Manager</string>
						<string>node.js</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/npm#readme</string>
					<key>authorLinkText</key>
					<string>François Massart</string>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>usercontribnpm</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
			<key>redux-saga</key>
			<dict>
				<key>date</key>
				<date>2019-12-06T02:15:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>redux-saga</string>
						<string>saga</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/redux-saga#readme</string>
					<key>authorLinkText</key>
					<string>Dmitry Tutykhin</string>
					<key>name</key>
					<string>redux-saga</string>
					<key>platform</key>
					<string>usercontribredux-saga</string>
					<key>uniqueIdentifier</key>
					<string>redux-saga</string>
				</dict>
			</dict>
			<key>torchvision</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T13:59:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>vision</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/torchvision#readme</string>
					<key>authorLinkText</key>
					<string>Youchen Du</string>
					<key>name</key>
					<string>torchvision</string>
					<key>platform</key>
					<string>usercontribtorchvision</string>
					<key>uniqueIdentifier</key>
					<string>torchvision</string>
				</dict>
			</dict>
			<key>webpack</key>
			<dict>
				<key>date</key>
				<date>2020-06-06T06:11:37Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/webpack#readme</string>
					<key>authorLinkText</key>
					<string>Matija Marohnić</string>
					<key>name</key>
					<string>webpack</string>
					<key>platform</key>
					<string>usercontribwebpack</string>
					<key>uniqueIdentifier</key>
					<string>webpack</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>dateFormat</key>
	<string>yyyy-MM-dd</string>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>jst:</string>
			<key>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</key>
			<string>ts:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Ansible.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:07:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:07:17Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:10:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:06:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/ElasticSearch.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:08:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Express.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:08:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Font_Awesome.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:09:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:08:10Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:13:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:19:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/LaTeX.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:08:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:10:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:08:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:11:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:11:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:09:21Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:11:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:09:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Rust.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:13:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SVG.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:11:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-10T09:09:37Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/AWS_JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T14:00:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-06T06:02:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Angular.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-02T12:02:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/AngularJS.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-06T02:11:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-06T06:02:48Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C++.xml</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T14:00:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T14:00:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T14:00:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Haskell.xml</key>
			<dict>
				<key>date</key>
				<date>2019-06-08T08:06:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-06T02:12:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T14:00:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NumPy.xml</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T14:01:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Pandas.xml</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T14:01:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Redis.xml</key>
			<dict>
				<key>date</key>
				<date>2019-06-08T08:07:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SciPy.xml</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T14:01:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vagrant.xml</key>
			<dict>
				<key>date</key>
				<date>2019-06-08T08:07:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2019-11-10T14:02:14Z</date>
			</dict>
			<key>http://kapeli.com/feeds/VueJS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-07-31T04:41:11Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>0</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>sortDocsetsAlphabetically</key>
	<true/>
	<key>timeFormat</key>
	<string>HH:mm:ss</string>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
